.gericht__navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 6rem;
 
}

.sticky__navbar {
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.95);
  width: 100%;
  z-index: 99999;
}

.gericht__navbar__logo {
  font-family: var(--font-base);
  font-size: 44px;
  font-weight: 700;
  line-height: 57.2px;
  letter-spacing: 0.04em;
  color: var(--color-white);
}

.gericht__navbar__links {
  display: flex;
  gap: 2rem;
}

.gericht__navbar__sign {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gericht__navbar__sign__container {
  padding-right: 1rem;
  margin: 1px solid #ffffff;
  position: relative;
}
/* DIVIDER LINE LOGIN / BOOK TABLE */
.gericht__navbar__sign__container::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50%;
  height: 200%;
  width: 1px;
  background: linear-gradient(
    181deg,
    rgba(12, 12, 12, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(12, 12, 12, 1) 100%
  );
}

.gericht__navbar_sign-book-table {
  padding-left: 1rem;
}

/* NAVBAR MENU */
.gericht__navbar-menu {
  display: none;
  z-index: 999;
}
.gericht__navbar-menu__sign {
  display: none;
}

.gericht__navbar-menu__links {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  position: absolute;
  right: 0;
  top: 90px;

  box-shadow: 0 2px 8px #dcca8795;
  background-color: var(--color-black);
  padding: 2rem;
  width: 250px;
}

.gericht__navbar-menu__links p,
.gericht__navbar-menu_sign-book-table p {
  text-align: right;
}

@media screen and (max-width: 1050px) {
  .gericht__navbar {
    padding: 2rem 4rem;
  }
  .gericht__navbar-menu {
    display: flex;
  }
  .gericht__navbar__links {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .gericht__navbar__sign {
    display: none;
  }
  .gericht__navbar-menu__sign {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    gap: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .gericht__navbar {
    padding: 2rem 2rem;
  }
}
