/* containers */
.gpt3__brands {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  padding: 2rem 0;
}

/* html elements */
.gpt3__brands div {
  flex: 1;
  max-width: 15rem;
  min-width: 12rem;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.gpt3__brands img {
  width: 12.5rem;
  height: 2.5rem;
  object-fit: contain;
  aspect-ratio: 1/5;
}