/* containers */
.gpt3__Cta__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--gradient-bar);
  padding: 4rem 2rem;
  border-radius: 8px;
  flex-wrap: wrap;
}

/* html elements */

/* headings */
.gpt3__Cta__heading h4 {
  font-family: Manrope;
  font-size: var(--font-md-small);
  line-height: var(--line-height-md);
  font-weight: var(--font-weight-xl);
  text-align: left;
  color: #000000;
}

/* paragraph */
.gpt3__Cta__heading p {
  font-family: var(--font-family);
  font-size: var(--font-sm);
  font-weight: 600;
  line-height: 3rem;
  text-align: left;
}

/* buttons */
.gpt3__Cta__button button {
  padding: 1rem 2rem;
  border-radius: 8px;
  border: none;
  color: #ffffff;
  background-color: #171717;

  font-family: var(--font-family);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 3rem;
  text-align: left;
  cursor: pointer;
  transition: background-color 300ms ease;
}
.gpt3__Cta__button button:hover {
  background-color: #000000;
}
.gpt3__Cta__button button:active {
  transform: scale(95%);
}

/* MEDIA QUERIES */
@media screen and (max-width: 1050px) {
  .gpt3__Cta__heading h4 {
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 1050px) {
  .gpt3__Cta {
    padding: 4rem 2rem !important;
  }
  .gpt3__Cta__container {
    flex-direction: column;
    gap: 2rem;
  }
}
