.gericht__subheading__title,
.gericht__minSubHeading {
  position: relative;
}

.gericht__subheading__title-tag svg {
  position: absolute;
  width: 9px;
  height: 40px;
  bottom: 0;
  fill: #dcca87;
}

.gericht__minSubHeading p {
  font-family: var(--font-base);
  font-size: 23px;
  font-weight: 700;
  line-height: 29.9px;
  letter-spacing: 0.04em;
  color: var(--color-white);
}
