
.app__menuitem {
    width: 100%;
}

.app__menuitem__container {
  display: flex;
  justify-content: space-between;
 }


.app__menuitem__container h4 {
  font-family: var(--font-base);
  font-size: 23px;
  font-weight: 700;
  line-height: 29.9px;
  letter-spacing: 0.04em;
  color: var(--color-golden);
}


.app__menuitem__container p {
  text-align: center;
}
