@font-face {
  font-family: "Gilroy-Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy-Medium"), url("fonts/Gilroy-Medium.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy-Bold"), url("fonts/Gilroy-Medium.woff") format("woff");
}

.gpt3__footer {
  background-color: var(--color-footer);
  padding-bottom: 0 !important;
}
.gpt3__footer__Container {
  display: flex;
}

.gpt3__footer__heading {
  text-align: center;
}

.gpt3__footer__Container {
  margin-top: 8rem;
}

.gpt3__links__title p {
  font-family: Gilroy-Bold;
  font-size: 14px;
  line-height: 16.41px;
  text-align: left;
  letter-spacing: 1.5px;  
}
.gpt3__links__list li {
  font-family: Gilroy-Medium;
  font-size: 12px;
  line-height: 14.06px;
  text-align: left;
}

.gpt3__footer__heading button {
  font-family: Gilroy-Medium, sans;
  font-size: 18px;
  line-height: 21.09px;
  text-align: left;
  padding: 1rem 2rem;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  margin-top: 2rem;
}

.gpt3__footer__logo {
  flex: 1;
}

.gpt3__footer__links {
  flex: 2;
  display: flex;
  justify-content: space-evenly;
}

.gpt3__footer__logo img {
  width: 118x;
  height: 30px;
}

.gpt3__footer__logo p,
.gpt3__footer__copyright p {
  font-family: Gilroy-Medium;
  font-size: 12px;
  line-height: 14.06px;

  color: #ffffff;
  letter-spacing: 1px;
  margin-top: 1rem;
}

.gpt3__footer__logo p {
  font-family: Gilroy-Medium;
  font-size: 12px;
  line-height: 14.06px;
  text-align: left;
}

.gpt3__footer__copyright {
  text-align: center;
  padding: 3rem 0 1rem;
}


@media screen and (max-width: 768px) {
  .gpt3__footer__Container {
    flex-wrap: wrap;
  }
  .gpt3__footer {
    padding: 4rem 2rem !important;
  }
  .gpt3__footer__links {
    margin-top: 4rem;
    width: 100%;
  }
}
