.app__header__container {
  width: 100%;
}
.app__header__heading {
  padding: 2rem;
  position: relative;
}
.app__header__heading h1 {
  font-family: var(--font-base);
  font-size: 90px;
  font-weight: 700;
  line-height: 117px;
  letter-spacing: 0.04em;
  color: var(--color-golden);
  text-transform: capitalize;
}
.app__header__image {
  width: 100%;
  height: 100%;
  text-align: center;
  max-width: 600px;
}
.app__header__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.app__header__heading button {
  background-color: var(--color-golden);
  color: var(--color-light-black);
}
.app__header__heading > p {
  margin: 2rem 0;
}
.app__header_hashtag {
  position: absolute;
  left: -50px;
  top: 50%;
  transform: translateY(-50%);
  transform: rotate(-90deg);
  color: var(--color-white);
  text-align: vertical-align;
  transform-origin: 0% 0%;
}
.app__header_hashtag span {
  margin: 6px;
  font-family: var(--font-alt);
  font-size: 18px;
  font-weight: 400;
  line-height: 31.5px;
  letter-spacing: 0.04em;
}
@media screen and (max-width: 1280px) {
  .app__header__heading h1 {
    font-size: 72px;
    line-height: 90px;
  }
}

@media screen and (max-width: 1050px) {
  .app__header {
    padding: 2rem 4rem !important;
  }
  .app__header__container {
    flex-direction: column;
    width: 100%;
  }
  .app__header__heading p {
    width: 100%;
  }
  .gericht__aboutus__title h2 {
    font-size: 48px;
    line-height: 60px;
  }
  .app__header__image {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 550px) {
  .app__header {
    padding: 2rem 2rem !important;
  }
  .app__header__container {
    flex-direction: column;
    gap: 4rem;
  }
  .app__header__heading {
    padding: 0;
  }
  .app__header__heading h1 {
    font-size: 52px;
    line-height: 80px;
    width: 100%;
  }
  .app__header_hashtag {
    display: none;
  }
}
