.gericht__special-menu {
  background-color: var(--color-black);
}
.gericht__special-menu__menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 2rem;
}

.gericht__special-menu__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gericht__special__subheading {
  flex-direction: column;
  gap: 6px;
}

.gericht__special-menu__image,
.gericht__special-menu__wine-beer-menu,
.gericht__special-menu__cocktails-menu {
  flex: 1;
  min-width: 300px;
}

.gericht__special-menu__wine-beer-menu,
.gericht__special-menu__cocktails-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.gericht__special-menu__menu h3 {
  font-family: var(--font-base);
  font-size: 45px;
  font-weight: 600;
  line-height: 58.5px;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--color-white);
}

.gericht__special-menu__image img {
  width: 100%;
  height: auto;
}
.gericht__special-menu__button-container button {
  display: block;
  margin: auto;
}
@media screen and (max-width: 1050px) {
  .gericht__special-menu__image {
    text-align: center;
  }
  .gericht__special-menu {
    padding: 2rem 4rem !important;
  }
  .gericht__special-menu__heading h2 {
    font-size: 52px;
    line-height: 70px;
  }
  .gericht__special-menu__image img {
    width: 80%;
    height: auto;
  }
  .gericht__special-menu__menu .app__menuitem {
    margin: 16px 0;
  }
}

@media screen and (max-width: 768px) {
  .gericht__special-menu {
    padding: 2rem 2rem !important;
  }

  .gericht__special__subheading p {
    font-size: 18px;
    line-height: 24px;
  }
  .gericht__special-menu__menu h3 {
    font-size: 32px;
    line-height: 50px;
  }
  .app__menuitem__container h4 {
    font-size: 20px !important;
  }
  .app__menuitem__tags p {
    font-size: 14px !important;
  }
}
