/* CONTAINERS */
.gpt3__features {
  display: flex;
}


.gpt3__features-heading {
  flex: 1;
  margin-right: 6rem;
}

.gpt3__features-subheadings {
  flex: 1;
  display: flex;
  row-gap: 4rem;
  flex-direction: column;
}

/* html elements */
.gpt3__features-heading h3 {
  background-color: var(--gradient-text);
  font-size: var(--font-xl);
}

.gpt3__features-heading p {
  color: var(--color-subtext);
  margin-top: 2rem;
  font-family: var(--font-family);
  font-size: var(--font-normal);
  font-weight: 500;
  line-height: 3rem;
  text-align: left;
}

/* media queries */
@media screen and (max-width: 1050px) {
  .gpt3__features {
    flex-direction: column;
    padding: 4rem 2rem !important;
  }
  .gpt3__features-heading {
    margin-right: 0;
  }
  .gpt3__features-subheadings .gpt3__whatgpt3-feature:first-child {
    margin-top: 3rem;
  }
}

