.gericht__chef {
  gap: 2rem;
}

.gericht__chef__image,
.gericht__chef__content {
  width: 100%;
  height: 100%;
  min-width: 300px;
  padding: 2rem;
}

.gericht__chef__image img {
  width: 100%;
  height: 100%;
  height: auto;
}

.gericth__chef__subheading h5 {
  font-family: var(--font-base);
  font-size: 23px;
  font-weight: 700;
  line-height: 29.9px;
  letter-spacing: 0.04em;
  text-align: left;
  color: var(--color-white);
}

.gericth__chef__title blockquote {
  margin: 1rem 0 4rem;
  font-style: italic;
  width: 80%;
  color: var(--color-grey);
}

.gericth__chef__title img {
  height: 40px;
  width: 47px;
  margin-right: 4px;
}

.gericth__chef__author {
  font-family: var(--color-base);
  font-size: 32px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: var(--color-golden);
}

.gericth__chef__author span {
  font-family: var(--font-alt);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.04em;
  color: var(--color-grey);
}

.gericth__chef__author img {
  width: 235px;
  height: 83px;
  display: block;
  margin-top: 2rem;
}

@media screen and (max-width: 1050px) {
  .gericht__chef {
    padding: 2rem 4rem !important;
  }
  .gericht__chef__image,
  .gericht__chef__content {
    padding: 0;
  }
  .gericth__chef__title h2 {
    font-size: 52px;
    line-height: 60px;
  }
  .gericth__chef__title p {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .gericht__chef {
    flex-direction: column;
    margin-top: 2rem;
    padding: 2rem 2rem !important;
  }
}
