
/* CONTAINERS */
.gpt3__header {
  display: flex;
  flex-direction: row;
  position: relative;
}

.gpt3__header__content {
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
  margin-right: 5rem;
}

.gpt3__header__input {
  display: flex;
  width: 100%;

  flex-direction: row;
  margin: 2rem 0 1rem;
}

.gpt3__header__people {
  display: flex;
  flex-direction: row;
  width: 100%;

  align-items: center;
  justify-content: center;
  gap: 1rem;
  overflow: hidden;
}

.gpt3__header__image {
  overflow: hidden;
  aspect-ratio: 1/1;
  flex: 2;
}

/* HTML ELEMENTS */

/* heading */
.gpt3__header__content h1 {
  font-size: var(--font-xl);
}

/* paragraph */

.gpt3__header__people p {
  font-family: var(--font-family);
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 3.761rem;
  text-align: left;
  color: #ffffff;
}

.gpt3__header__content p {
  width: 100%;
  font-family: var(--font-family);
  font-size: 2rem;
  line-height: 2.7rem;
  font-weight: 400;
  text-align: left;
  color: #81afdd;
}

/* input */
.gpt3__header__input input {
  flex: 2;
  width: 100%;
  min-height: 5rem;
  padding: 1rem;
  background-color: #052d56;
  border: none;
  font-size: 2rem;
  color: var(--color-text);
}

.gpt3__header__input input::placeholder {
  font-family: var(--font-family);
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.732rem;
  text-align: left;
}

.gpt3__header__input input:focus {
  outline: none;
}

/* buttons */
.gpt3__header__input button {
  flex: 0.6;
  width: 100%;
  min-height: 5rem;
  padding: 0 1rem;

  background: var(--color-bg-btn);
  color: var(--color-text-btn);
  font-family: var(--font-family);
  font-size: 2rem;
  font-weight: 600;
  text-align: left;
  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* images */
.gpt3__header__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gpt3__header__people img {
  width: 100%;
  max-width: 20rem;
  height: 4rem;
  object-fit: contain;
  aspect-ratio: 1/5;
}

/* ADDITIONAL FEATURES */

/* lazy loading */
.LazyLoad {
  opacity: 0;
  transition: all 1s ease-in-out;
}

.is-visible {
  opacity: 1;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1050px) {
  .gpt3__header {
    flex-direction: column;
  }
  .gpt3__header__content {
    margin: 0 0 3rem;
  }
}

@media screen and (max-width: 650px) {
  .gpt3__header {
    padding: 4rem 2rem !important;
  }

  .gpt3__header__content p:first-child {
    font-size: 18px;
    line-height: 24px;
  }

  .gpt3__header__input input,
  .gpt3__header__input button,
  .gpt3__header__input input::placeholder {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  .gpt3__header__people {
    flex-direction: column;
  }

  .gpt3__header__people p {
    text-align: center;
  }
}

@media screen and (max-width: 550px) {
  .gpt3__header__content p {
    font-size: 1.4rem;
    line-height: 2.4rem;
  }
}
